.header {
  background-color: #212529;
  text-align: center;
  color: white;
}
.botones {
  margin: 20px;
}

.table {
  background-color: aliceblue;
  margin-top: 5px;
}
.form-crear {
  max-width: 500px;
  padding: 50px;
  border: 5px solid rgb(31, 53, 247);
  border-style: inset;
  border-radius: 40px;
  background-color: aliceblue;
}
.form-editar {
  max-width: 500px;
  padding: 50px;
  border: 5px solid rgb(28, 170, 9);
  background-color: aliceblue;
  border-style: inset;
  border-radius: 40px;
}

.form-crear-Libro {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
  padding: 50px;
  border: 5px solid rgb(31, 53, 247);
  border-style: inset;
  border-radius: 40px;
  background-color: aliceblue;
}

.form-select-leo {
  margin: 25px;
}
